<%= form_with(model: recipe, local: true) do |form| %>
  <div class="ui massive action input">
    <%= form.text_field :link, id: :recipe_link, placeholder: "Paste a recipe link" %>
    <button class="ui icon button" type="submit">
      <i class="search icon"></i>
    </button>
  </div>
<% end %>
