<button class="ui icon button" name="bookmark-this-recipe" id="like-recipe">
  <i class="bookmark outline icon"></i>
</button>
<%= form_for([@recipe, @recipe.likes.build], html: {class: "d-none"}) do |f| %>
  <%= f.hidden_field :user_id, value: current_user["uid"] %>
  <%= f.submit "Like" %>
<% end %>
