<%= link_to recipe_path(recipe), class: "recipe-card--large" do %>
  <% if recipe.image_url %>
    <div style="background-image: url(<%= recipe.image_url %>)"></div>
  <% end %>
  <h3><%= recipe.name %></h3>
<% end %>
