<div class="hero hero--recipe-source">
  <h1>My Recipes</h1>
</div>
<div class="container my-recipes-container">
  <%= render 'my_recipes_nav' %>
  <div class="my-recipes__grid">
    <h2>Previously Cooked</h2>
    <div class="recipes-grid">
      <% @previously_cooked.each do |recipe| %>
        <%= render 'recipes/recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source, show_source: false %>
      <% end %>
    </div>
  </div>
</div>
