<div class="hero hero--home">
  <div class="hero__copy">
    <h1>All of your favorite recipes in one place.</h1>
    <p class="m-hidden">Paste a link to a recipe from your favorite blog or website to get started.</p>
  </div>
  <%= render 'form', recipe: @recipe %>
</div>
<% if current_user && @liked_recipes.count > 0 %>
  <div class="container">
    <h2>My Recipes</h2>
    <div class="recipe-carousel">
      <% @liked_recipes.each do |recipe| %>
        <%= render 'recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source, show_source: true %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="container">
  <h2>What's cooking?</h2>
  <div class="recipe-carousel">
    <% @recipes.each do |recipe| %>
      <%= render 'recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source, show_source: true %>
    <% end %>
  </div>
</div>
