<div class="hero hero--home">
  <h1>Save all of your favorite recipes in one place.</h1>
</div>
<div class="container">
  <div class="recipes-grid">
    <% @recipes.each do |recipe| %>
      <%= render 'recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source, show_source: true %>
    <% end %>
  </div>
</div>
<div class="pagination-wrapper">
  <%= paginate @recipes, window: 1 %>
</div>
