<div class="hero hero--recipe">
  <div class="hero__content">
    <div class="recipe__header">
      <h1 itemprop="name">The most popular recipes using <%= params[:ingredient] %></h1>
    </div>
  </div>
</div>
<div class="container container--recipe">
  <% unless @recipes.first.image_url.blank? %>
    <div class="recipe__image">
      <%= image_tag @recipes.first.image_url %>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="my-recipes__grid">
    <div class="recipes-grid">
      <% @recipes.each do |recipe| %>
        <%= render 'recipes/recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source, show_source: true %>
      <% end %>
    </div>
  </div>
  <div class="pagination-wrapper">
    <%= paginate @recipes, window: 1 %>
  </div>
</div>
