<div class="hero hero--recipe-source">
  <h1>Search by ingredient</h1>
</div>
<div class="container">
  <div class="my-recipes__grid">
    <h2>The most popular recipes that contain <%= params[:ingredient] %>:</h2>
    <div class="recipes-grid">
      <% @recipes.each do |recipe| %>
        <%= render 'recipes/recipe_card_large', recipe: recipe, recipe_source: recipe.recipe_source, show_source: true %>
      <% end %>
    </div>
  </div>
</div>
