<div class="container">
  <div class="hero hero--home">
    <div class="hero__copy">
      <h1>Paste a recipe link from your favorite blog.</h1>
      <p>Recidex can import recipes from over 100 different websites.</p>
    </div>
    <%= render 'form', recipe: @recipe %>
  </div>
</div>
