<h1><%= @recipe.name %></h1>
<p><a href="<%= @recipe.link %>">View Recipe</a></p>

<% if @recipe.image_url %>
  <img src="<%= @recipe.image_url %>" alt="">
<% end %>

<% @recipe.ingredients.each do |ingredient| %>
  <div class="ingredient">
    <div class="checkbox"></div>
    <h2><%= ingredient %></h2>
  </div>
<% end %>

<script type="text/javascript">
  $('.ingredient').on('click', function() {
    $(this).toggleClass('ingredient--checked');
  })
</script>
