<div class="hero hero--text">
  <h1>About Recidex</h1>
</div>
<div class="container container--text">
  <p>There’s a number of exciting changes happing in the food world. The local food movement is once again connecting consumers to their sources of food, and the slow food movement is bringing people back into their kitchen to prepare their own meals. At the same time, there’s been massive growth in “food content” in the past few years - independent chefs are building blogs and sharing their own recipes.</p>
  <p>Recidex.com aims to be the central hub of all of this food content. Recidex allows you to import recipes from your favorite blogs (it currently works with 150+ blogs, and we’re adding more every day). You may organize recipes into collections (e.g. “healthy breakfasts” or “quick dinners”), discover related recipes, or add several recipes to your grocery list when you’re headed to the store.</p>
  <p>Recidex.com works on your phone too - just sign in with your account to access your grocery list or recipe collections while on the run.</p>
  <p>Recidex is currently in open beta. Give the site a try - if there’s a feature you’d like added or if you’d like to discuss partnering with us, <%= link_to "reach out to us on Facebook", "https://www.facebook.com/recidex/", class: "simple-link simple-link--underline" %>. We’re excited to hear from you!</p>
</div>
