<div class="hero hero--text">
  <h1>Press</h1>
</div>
<div class="container container--text" id="press-page">
  <p>Starting in the Summer of 2018, Recidex is a growing platform for foodies and chefs. If you're interested in writing about Recidex, we'd love to chat with you. Download the press kit below, or reach out to us on <%= link_to "Facebook", "https://www.facebook.com/recidex", class: "simple-link simple-link--underline" %>.</p>
  <%= link_to "Download Press Kit", "/recidex-press-kit.zip", class: "simple-link simple-link--primary" %>
  <h3>Past Mentions:</h3>
  <ul>
    <li><%= link_to "Dispatch Weekly", "http://dispatchweekly.com/2018/07/healthy-eating-healthy-life-how-recidex-can-help/", class: "simple-link simple-link--underline" %></li>
    <li><%= link_to "Style Blueprint", "https://styleblueprint.com/everyday/the-sb-hot-list-our-july-2018-favorite-things-2/", class: "simple-link simple-link--underline" %></li>
  </ul>
</div>
