/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables.scss';
@import 'typography.scss';
@import "semantic-ui/elements/icon";
@import "semantic-ui/elements/input";
@import "semantic-ui/modules/sidebar";

html {
  font-size: 62.5%;
}

body {
  color: $gray-4;
  font-family: $font-family;
  margin: 0;
}

.notice {
  background-color: $yellow;
  color: $gray-4;
  padding: 2rem;
  text-align: center;

  @media (min-width: $desktop) {
    padding: 2rem 12rem;
  }
}

body.pushable {
  background-color: $gray-1 !important;
}

.pushable > .pusher {
  overflow: visible;
}

.open {
  color: $green;
  font-size: 1.6rem;
  margin-left: 1rem;
}

.ui.sidebar.vertical.right.menu.uncover.visible {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-sizing: border-box;

  & > * {
    padding: 2rem 0;
    border-bottom: 1px solid $gray-3;

    &:first-of-type {
      padding-top: 0;
    }
  }
}

.logo {
  height: 2.4rem;

  img {
    height: 4rem;
  }
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  @media (min-width: $desktop) {
    padding: 3rem 12rem;
  }
}

.nav__right .simple-link:not(:last-of-type) {
  margin-right: 2rem;
}

.hero {
  background-color: $gray-2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.hero--home {
  justify-content: space-between;
  padding: 3rem 2rem;

  @media (min-width: $desktop) {
    align-items: center;
    padding: 6rem 12rem;
  }

  h1 {
    margin-bottom: 1rem;
  }
}

.hero--recipe,
.hero--groceries {
  padding: 2rem 2rem;

  @media (min-width: $desktop) {
    align-items: flex-start;
    padding: 2rem 12rem;
  }

  .recipe__header {
    h1 {
      text-align: center;
      margin: 3rem 0;
      max-width: 550px;
    }

    @media (min-width: $desktop) {
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 550px;
      width: 100%;
    }
  }
}

.hero--recipe {

  button.ui.icon.button {
    background: none !important;
    border: 1px solid $green;
    border-radius: $border-radius-s;
    color: $green;
    font-size: 1.4rem;
    margin-left: 2rem;
    padding: 0.8rem !important;
    transition: $transition;

    &:hover {
      cursor: pointer;
      background-color: $green !important;
      color: $white;
    }
  }
}

.hero--groceries {
  background-color: $gray-2;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  z-index: 10;

  h1 {
    color: $gray-4;
    margin: 0;
  }

  .ui.button {
    background-color: $gray-2;
    color: $green;
  }

  .grocery-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;

    .ingredient-count {
      color: $gray-4;
      border: 2px solid $gray-4;
      border-radius: $border-radius-s;
      font-size: 1.8rem;
      font-weight: $bold;
      line-height: 2.4rem;
      padding: 1.3rem 2rem;
      white-space: nowrap;
    }
  }
}

.hero__copy {
  flex-basis: 50%;
  margin-bottom: 2rem;

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.hero__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 15rem;
  max-width: 750px;
  width: 100%;
}

.hero__content .recipe__subheader {
  flex-direction: column;

  a {
    margin: 1rem 0;
  }

  @media (min-width: $desktop) {
    flex-direction: row;

    a {
      margin: 0;
    }
  }
}

form {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @media (min-width: $desktop) {
    flex-basis: 40%;
  }
}

.ui.input {
  margin-right: 1rem;
  flex: 1;
}

.ui.input > input {
  border: none;
  border-radius: $border-radius-s;
  font-size: 1.8rem;
  line-height: 2.6rem;
  padding: 1.2rem 1rem;
}

button.ui.icon.button {
  background-color: $green !important;
  border: none;
  border-radius: $border-radius-s;
  color: $white;
  font-size: 2.1rem;
  padding: 1.3rem !important;
}

.m-hidden {

  @media (max-width: $desktop) {
    display: none;
  }
}

.m-only {

  @media (min-width: $desktop) {
    display: none;
  }
}

.container {
  margin: 4rem 2rem;

  @media (min-width: $desktop) {
    margin: 4rem 12rem;
  }
}

.container--recipe {
  max-width: 750px;

  @media (min-width: $desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}

.recipe__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row-reverse;
  }
}

.recipe__ingredients {

  @media (min-width: $desktop) {
    flex-basis: 67%;
    margin-right: 4rem;
  }
}

.recipe__actions {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;

  @media (min-width: $desktop) {
    flex-basis: 33%;
    margin-bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
  }

  .simple-link--background {
    display: block;
    margin: 1rem auto;
  }
}

#related-recipes {
  border: 2px solid $gray-4;
  border-radius: $border-radius-s;
  box-sizing: border-box;
  padding: 2rem 0;

  h2,
  .simple-link {
    margin: 0 2rem;
  }

  .recipe-carousel {
    padding: 0 2rem;
  }

  .simple-link {
    display: inline-block;
    margin-top: 1rem;
  }
}

.recipe-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  & > * {
    margin-right: 2rem;
  }
}

.recipe-card-container {
  flex: 0 0 calc(25% - 2rem);
  margin-top: 2rem;
  position: relative;
}

.recipe-card--large ~ .like-container {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.like-container {
  transition: $transition;

  &:hover {
    transform: scale(1.2);
  }
}

.recipe-card__like {
  -webkit-text-stroke: 2px $white;
  color: rgba(90, 71, 83, 0.3) !important;
  font-size: 2rem;

  &.unlike {
    color: $yellow !important;
  }
}

.recipe-card--large {
  scroll-behavior: smooth;

  .recipe-card__image {
    background-position: center center;
    background-size: cover;
    border-radius: $border-radius-m;
    height: 27.5rem;
    margin: 0;
    width: 225px;

    @media (min-width: $desktop) {
      width: 100%;
    }
  }

  h3 {
    margin-bottom: 0;
  }
}

.recipe__image {
  background-position: center center;
  background-size: cover;
  border-radius: $border-radius-m;
  height: 30rem;
  margin-bottom: 2rem;
  margin-top: -19rem;
  width: 100%;

  @media (min-width: $desktop) {
    margin-bottom: 4rem;
  }
}

.recipe__subheader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.remove-link {
  display: inline-block;
  margin-top: 1rem;
}

.ingredient {
  align-items: center;
  display: flex;
  padding: 2rem 0;
  transition: $transition;

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-2;
  }
}

.ingredient--checkable:hover {
  background-color: $gray-2;
  cursor: pointer;
}

.ingredient--grocery {
  align-items: flex-start;

  .checkbox {
    margin-top: 0.5rem;
  }

  .grocery-item-container {
    display: flex;
    flex-direction: column;
  }

  .grocery-item {
    text-transform: capitalize;
  }

  .ingred {
    color: $gray-3;
    display: flex;
    margin-top: 1rem;

    &:before {
      background-color: $yellow;
      border-radius: 2px;
      content: '';
      height: 4rem;
      margin-right: 1rem;
      width: 2px;
    }

    .ingred__content {
      display: flex;
      flex-direction: column;

      .ingred__recipe {
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }
}

.checkbox {
  border: 2px solid $orange;
  box-sizing: border-box;
  border-radius: 100%;
  display: block;
  flex: 0 0 20px;
  height: 2rem;
  margin-right: 2rem;
  transition: $transition;
  width: 2rem;

  @media (min-width: $desktop) {
    margin: 0 2rem;
  }
}

.ingredient--checked {

  p {
    color: $gray-3;
    text-decoration: line-through;
  }

  .checkbox{
    border: none;
    display: flex;
    justify-content: center;

    &:after{
      align-self: center;
      content: '';
      display: block;
      width: 6px;
      height: 12px;
      border: solid $orange;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.ingredient-group {

  &:not(:last-of-type) {
    margin-bottom: 4rem;
  }

  .recipe__subheader {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .recipe__image {
    flex: 0 0 9rem;
    height: 9rem;
    margin: 0 1rem 0 0;
  }
}

.ingredient-group--meal-plan .recipe__subheader {
  margin-bottom: 2rem;
}

.sign-in-cta {
  background-color: $gray-2;
  border-radius: $border-radius-m;
  box-sizing: border-box;
  margin: 0 0 2rem;
  padding: 2rem;

  a {
    white-space: nowrap;
    background-color: $yellow;
    border-radius: $border-radius-s;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: $bold;
    margin-left: 2rem;
    transition: $transition;

    &:hover {
      box-shadow: 0 3px 0 0 darken($yellow, 10%);
      transform: translateY(-3px);
    }
  }
}

.d-none {
  display: none;
}

#grouping-toggle a {
  margin-left: 1rem;
}

.grocery-list-section {
  transition: $transition;
}

.grocery-list-section--hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(5rem);
}
