/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $font-family: 'Barlow Condensed', sans-serif;
 $light: 300;
 $semi-bold: 600;

 $white: #fff;
 $gray-1: #eaedf1;
 $gray-2: #b3bfca;
 $gray-3: #65707a;
 $gray-4: #353a3f;

 $transition: all 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

 @import "semantic-ui/elements/icon";
 @import "semantic-ui/elements/input";

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  margin: auto;
  max-width: 450px;
}

.container {
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  font-weight: $semi-bold;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: $semi-bold;
  line-height: 1.2;
  transition: $transition;
}

p {
  font-size: 1.6rem;
  font-weight: $light;
}

img {
  width: 100%;
  border-radius: 5px;
}

.ingredient {
  align-items: center;
  border-bottom: 1px solid $gray-1;
  display: flex;
  padding: 1rem;
  transition: $transition;

  &:hover {
    cursor: pointer;
  }
}

.checkbox {
  border: 2px solid $gray-2;
  box-sizing: border-box;
  border-radius: 100%;
  display: block;
  flex: 0 0 20px;
  height: 2rem;
  margin-right: 2rem;
  transition: $transition;
  width: 2rem;
}

.ingredient--checked {
  h2 {
    color: $gray-2;
    text-decoration: line-through;
  }

  .checkbox{
    border: none;
    display: flex;
    justify-content: center;

    &:after{
      align-self: center;
      content: '';
      display: block;
      width: 6px;
      height: 12px;
      border: solid $gray-2;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.homepage {
  background-image: url(asset_path('pineapple.jpg'));
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;

  h1 {
    font-size: 6rem;
  }
}

.ui.input {
  width: 100%;
}

input#recipe_link {
  border: none;
}

.ui.input > input {
  padding: 2rem 1rem;
  font-size: 2rem;
}

button.ui.icon.button {
  background-color: $white !important;
  border: none;
  color: $gray-2;
  font-size: 2rem;
  padding: 2rem !important;
}
