@import 'variables.scss';

footer {
  border-top: 1px solid $gray-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  section {

    @media (min-width: $desktop) {
      flex: 25%;
      width: calc(25% - 2.25rem);
      
      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }
  }

  .simple-link {
    text-transform: capitalize !important;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0.5rem 0;
}
