@import 'variables.scss';

footer {
  border-top: 1px solid $gray-2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  section {
    flex: 25%;
    width: calc(25% - 2.25rem);

    @media (min-width: $desktop) {
      &:not(:last-of-type) {
        margin-right: 3rem;
      }
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    padding: 0.5rem 0;
  }

  .simple-link {
    text-transform: capitalize !important;
  }
}
