@import 'variables.scss';

.my-recipes-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.my-recipes-nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;

  @media (min-width: $desktop) {
    flex: 0 0 25%;
    margin-bottom: 0;
  }

  .simple-link--background {
    display: block;
    white-space: nowrap;
  }
}

.my-recipes__grid {
  flex: 0 0 75%;
}

// this is a gross hack to fix something weird happening with flexbox.
// TODO: Investigate!
.my-recipes-container .my-recipes__grid {

  @media (min-width: $desktop) {
    width: 300px;
  }
}

.my-recipes-container .recipes-grid .recipe-card-container {
  flex: calc(50% - 2rem);

  &:not(:nth-of-type(2n)) {
    margin-right: 2rem;
  }

  @media (min-width: $desktop) {
    flex: calc(33% - 2rem);

    &:not(:nth-of-type(3n)) {
      margin-right: 2rem;
    }
  }
}

.my-reicpes-container .recipes-grid.collections .recipe-card-container:not(:nth-of-type(2n)) {
  margin-right: 0;
}

.collection-card {
  border: 1px solid $gray-2;
  border-radius: $border-radius-s;
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 2rem;

  @media (min-width: $desktop) {
    flex: 0 0 50%;
    max-width: calc(50% - 1rem);

    &:not(:nth-of-type(2n)) {
      margin-right: 2rem;
    }
  }
}

.collection-card h3 {
  margin: 0;
}

.collection-card .recipe__banner {
  margin-top: 2rem;
}

.collection-card__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.collection-card h4 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 0 0 0.5rem;
}
