@import 'variables.scss';

.hero--recipe-source {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;

  @media (min-width: $desktop) {
    align-items: center !important;
    padding: 6rem 12rem;
  }

  h1 {
    text-align: center;

    @media (min-width: $desktop) {
      text-align: left;
    }
  }
}

.hero--recipe-source__right {
  align-items: center;
  display: flex;
  margin-top: 2rem;
  width: 100%;

  & > *:not(:last-child) {
    margin-right: 3rem;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    width: auto;
  }
}

.source-stat {
  text-align: center;
}

.source-stat__number {
  font-weight: $bold;
}

.recipes-grid {
  display: flex;
  flex-wrap: wrap;
}

.recipes-grid .recipe-card-container {
  width: calc(50% - 1rem);

  &:not(:nth-of-type(2n)) {
    margin-right: 2rem;
  }

  @media (min-width: $desktop) {
    width: calc(25% - 1.67rem);

    &:not(:nth-of-type(4n)) {
      margin-right: 2rem;
    }
  }
}
