@import 'variables.scss';

.container--recipe-index {
  display: flex;
}

.container--recipe-index .sidebar {
  display: none;
  flex: 25%;

  @media (min-width: $desktop) {
    display: block;
  }

  h4 {
    text-transform: uppercase;;
  }

  .simple-link {
    text-transform: capitalize;
  }
}

.container--recipe-index .recipes-grid {
  flex: 75%;
}

.container--recipe-index .recipes-grid .recipe-card-container {

  @media (min-width: $desktop) {
    flex: calc(33% - 2rem);
    max-width: calc(33% - 2rem);

    &:not(:nth-of-type(3n)) {
      margin-right: 2rem;
    }
  }
}

.container--recipe-index section:not(:last-of-type) {
  margin-bottom: 4rem;
}
